<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Search IT!</title>
</head>
<body>
    <!--Central Container-->
    <div class="main-content">
        <!--Logo-->
        <div class="box-logo">
            <img class="box-logo" src="../static/src/Search_IT.png" alt="Logo photo">
        </div>
        <!--Name Input-->
        <div class="input-container">
            <form name="search_request", action="." method="post">
                <input class="name-input" type="text" name="name" placeholder="Enter your search request*" required>

                <!--Button Search-->
                <div class="search-button-box">
                    <button class="search-button">
                        <span class="search-it">
                            Search IT!
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    
</body>
</html>